{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}
    <center>
        {% if Constants.treatment == "T1" or Constants.treatment == "T3" %}
            <img src="{% static 'account.png' %}" width="100cm">实验室账户余额：{{player.account}}个实验币
        {% else %}

        {% endif %}
    </center>
{{ endblock }}

{{ block content }}
<div class="card bg-light m-3">
<div class="card-body">
    <center>
    <p><font size="5" color="black">
        {% if player.id_in_group == 1 %}
            {% if Constants.treatment == "T2" %}
                你已完成文本转换项目，并获得B交给你的20个实验币的收益。
            {% elif Constants.treatment == "T4" %}

            {% elif Constants.treatment == "T5" %}
                你已完成文本转换项目，并获得B交给你的20个实验币的收益。
            {% elif Constants.treatment == "T6" %}

            {% else %}

            {% endif %}
        {% else %}
            {% if Constants.treatment == "T2" %}
                你已完成文本转换项目，并获得你和A共40个实验币的收益，你将其中的20个实验币的收益交给A。
            {% elif Constants.treatment == "T4" %}

            {% elif Constants.treatment == "T5" %}
                你已完成文本转换项目，并获得你和A共40个实验币的收益，你将其中的20个实验币的收益交给A。
            {% elif Constants.treatment == "T3" %}

            {% elif Constants.treatment == "T6" %}

            {% else %}

            {% endif %}
        {% endif %}
    </font></p>

 </div>
 </div>

<center>
    <input type="submit" id="bt" class="otree-btn-next btn btn-primary" value="下一步" />
</center>

{{ endblock }}