{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}
    <center>
        {% if Constants.treatment == "T1" or Constants.treatment == "T3" %}
            <img src="{% static 'account.png' %}" width="100cm">实验室账户余额：{{player.account}}个实验币
        {% else %}

        {% endif %}
    </center>
{{ endblock }}

{{ block content }}
<div class="card bg-light m-3">
<div class="card-body">

    <p>
        {% if player.id_in_group == 1 %}

        {% else %}
            <font size="5" color="black">
            {% if Constants.treatment == "T1" %}
                下面请你猜测除你以外，上一阶段其他参与者B决定A买文本转换任务平均投入是多少个实验币。
                若你的猜测值与实际值相差不超过0.5，那么你的实验室账户将获得3个实验币的额外收益（实验最后告知）。
            {% elif Constants.treatment == "T2" %}
            <p>
                下面请你猜测除你以外，上一阶段其他参与者B决定A买该项目A投入X个实验币的平均值是多少。
            </p>
                若你的猜测值与平均值相差不超过0.5，那么你将获得3个实验币的额外收益,
                若你的猜测值与平均值相差大于0.5且不超过1，那么你将获得1个实验币的额外收益（实验最后告知）。
            {% elif Constants.treatment == "T5" %}
            <p>
                下面请你猜测除你以外，上一阶段其他参与者B决定A买该项目A投入X个实验币的平均值是多少。
            </p>
                若你的猜测值与平均值相差不超过0.5，那么你将获得3个实验币的额外收益,
                若你的猜测值与平均值相差大于0.5且不超过1，那么你将获得1个实验币的额外收益（实验最后告知）。
            {% elif Constants.treatment == "T3" %}
            <p>
                下面请你猜测除你以外，上一阶段其他参与者B决定A卖该项目A获得Y个实验币的平均值是多少。
            </p>
                若你的猜测值与平均值相差不超过0.5，那么你的实验室账户将获得3个实验币的额外收益（实验最后告知）。
            {% elif Constants.treatment == "T6" %}
            <p>
                下面请你猜测除你以外，上一阶段其他参与者B决定A卖该项目A获得Y个实验币的平均值是多少。
            </p>
                若你的猜测值与平均值相差不超过0.5，那么你将获得3个实验币的额外收益,
                若你的猜测值与平均值相差大于0.5且不超过1，那么你将获得1个实验币的额外收益（实验最后告知）。
            {% elif Constants.treatment == "T4" %}
            <p>
                下面请你猜测除你以外，上一阶段其他参与者B决定A卖该项目A获得Y个实验币的平均值是多少。
            </p>
                若你的猜测值与平均值相差不超过0.5，那么你将获得3个实验币的额外收益,
                若你的猜测值与平均值相差大于0.5且不超过1，那么你将获得1个实验币的额外收益（实验最后告知）。
            {% endif %}

            </font>
            <table class="tg" width="900">
            <tr>
                <td class="tg-baqh" width="65%">
                    <font size="5" color="black">
                        {% if Constants.treatment == "T1" or Constants.treatment == "T5" or Constants.treatment == "T2" %}
                            上一阶段其他参与者B决定A买该项目A投入的平均值为
                        {% else %}
                            上一阶段其他参与者B决定A卖该项目A获得的平均值为
                        {% endif %}
                    </font>
                </td>
                <td class="tg-s6z3" width="15%">{% formfield player.guess_prices %}</td>
                <td class="tg-baqh" width="20%"><font size="5" color="black">个实验币。</font></td>
            </tr>
            </table>

            <br><br>

        {% endif %}
    </p>
</div>
</div>
<center><input type="submit" id="bt" class="otree-btn-next btn btn-primary" value="下一页" />
</center>
{{ endblock }}
